@import url("https://fonts.googleapis.com/css2?family=Cairo&family=Graduate&family=Mada&family=Ubuntu&display=swap");
:root {
    --main-color: #5379f6;
    --second-color: #4364db;
    --black: #111;
    --white: #fff;
    --light-color: #666;
    --light-bg: #eee;
    --box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
    --border: 0.1rem solid rgba(0, 0, 0, 0.3);
    --border-light: 0.1rem solid #a8acbe;
}
body {
    background: rgb(252, 252, 252);
}
.mtop {
    margin-top: 100px;
}
.mbottom {
    margin-bottom: 100px;
}
.mend {
    margin-left: 50px;
    margin-right: 50px;
}
a {
    text-decoration: none;
}
p {
    font-size: 18px;
    color: #666262;
    line-height: 1.5em;
}
* {
    /* // font-family: 'Graduate', cursive; */
    font-family: "Ubuntu", "Cairo";
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
    transition: all 0.2s linear;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 7rem;
}

html::-webkit-scrollbar {
    width: 1rem;
}

html::-webkit-scrollbar-track {
    background: transparent;
}

html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}

@-webkit-keyframes fadeIn {
    0% {
        top: 50%;
        opacity: 0;
    }
}

@keyframes fadeIn {
    0% {
        top: 50%;
        opacity: 0;
    }
}
.header {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    padding: 1.5rem 10%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    z-index: 1000;
    background: var(--white);
}

.header .logo img {
    width: 100px;
}
.header .header-navbar a {
    font-size: 2rem;
    color: var(--main-color);
    text-transform: capitalize;
    margin: 0 1rem;
}

.header .header-navbar a:hover {
    color: var(--second-color);
}
.header .icons {
    display: flex;
}
.header .icons div,
.aicon {
    height: 4rem;
    width: 4rem;
    line-height: 5rem;
    font-size: 2rem;
    color: var(--main-color);
    cursor: pointer;
    text-align: center;
    margin-left: 0.3rem;
    background: none;
}
.header .icons div:hover {
    color: var(--second-color);
}
.header #menu-btn {
    display: none;
}

.header .prosit-form {
    position: absolute;
    top: 120%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    background: var(--white);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    -webkit-animation: fadeIn 0.2s linear;
    animation: fadeIn 0.2s linear;
    display: none;
}

.header .prosit-form.active {
    display: -webkit-box;
    display: -ms-flexbox;
    display: inline-grid;
}
/* profile */
.header .prosit-btn-profile {
    background: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-color);
}
.header .prosit-btn-out {
    margin-top: 10px;
    background: none;
    border: none;
    text-align: center;
    font-size: 1.5rem;
    color: var(--main-color);
    cursor: pointer;
}

/* profile end */

.header .lang-form {
    position: absolute;
    top: 120%;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40rem;
    background: var(--white);
    -webkit-box-shadow: var(--box-shadow);
    box-shadow: var(--box-shadow);
    padding: 2rem;
    text-align: center;
    -webkit-animation: fadeIn 0.2s linear;
    animation: fadeIn 0.2s linear;
    display: none;
}

.header .lang-form.active {
    display: block;
}

.header .lang-form .changeLang {
    width: 100%;
    color: var(--main-color);
    font-size: 1.8rem;
}
/* test */

/* test */

.btn {
    border-radius: 5%;
    display: inline-block;
    margin-top: 1rem;
    padding: 1rem 3rem;
    background: var(--main-color);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

.btn:hover {
    background: var(--second-color);
    color: var(--white);
}
/* ........................................... */

.home {
    min-height: 100vh;
    width: 100vw;
    background: linear-gradient(var(--main-color), var(--main-color));
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.home .banner {
    color: var(--white);
    font-family: "Graduate", "Cairo";
    font-size: 5rem;
    text-shadow: 0 0.3rem 0.5rem rgba(0, 0, 0, 0.3);
}

.home .slogan {
    margin-top: 5px;
    color: #eee;
    font-size: 2.5rem;
    font-weight: 400;
}

/* ,,,, */
.home .a-btn {
    font-family: "Graduate", "Cairo";
    position: relative;
    display: inline-block;
    margin-top: 30px;
    padding: 15px 30px;
    color: var(--white);
    text-transform: uppercase;
    /* letter-spacing: 4px; */
    text-decoration: none;
    font-size: 24px;
    overflow: hidden;
    transition: 0.2s;
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.home .a-btn:hover {
    color: var(--main-color);
    background: #89c6ff;
    box-shadow: 0 0 10px #89c6ff, 0 0 40px #89c6ff, 0 0 80px #89c6ff;
    transition-delay: 1s;
}

.home .a-btn span {
    position: absolute;
    display: block;
}

.home .a-btn span:nth-child(1) {
    top: 0%;
    left: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(90deg, transparent, #89c6ff);
}

.home .a-btn:hover span:nth-child(1) {
    left: 100%;
    transition: 0.5s;
}
/* ...... */
.home .a-btn span:nth-child(3) {
    bottom: 0%;
    right: -100%;
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, transparent, #89c6ff);
}

.home .a-btn:hover span:nth-child(3) {
    right: 100%;
    transition: 1s;
    transition-delay: 0.25s;
}
/* ...... */
.home .a-btn span:nth-child(2) {
    top: -100%;
    right: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(180deg, transparent, #89c6ff);
}

.home .a-btn:hover span:nth-child(2) {
    top: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* ...... */
.home .a-btn span:nth-child(4) {
    bottom: -100%;
    left: 0%;
    width: 2px;
    height: 100%;
    background: linear-gradient(360deg, transparent, #89c6ff);
}

.home .a-btn:hover span:nth-child(4) {
    bottom: 100%;
    transition: 1s;
    transition-delay: 0.75s;
}
/* ,,,,, */

/* ....... */

/* ....... */
.home .fa-cog {
    position: absolute;
    font-size: 30rem;
    opacity: 0.15;
    color: #fff;
    animation: rotate 10s linear infinite;
}

.home .nut1 {
    top: 10%;
    left: -15rem;
}

.home .nut2 {
    bottom: 23%;
    right: -13rem;
    animation-direction: reverse;
}

@keyframes rotate {
    100% {
        transform: rotate(360deg);
    }
}

/* Heading */

.heading {
    padding-top: 6rem;
    font-size: 3.5rem;
    color: var(--main-color);
    font-family: "Graduate", "Cairo";
}

/* Heading end */

/* services */
.service {
    width: 100vw;
    /* text-align: center; */
}

.service .row {
    margin: 2rem 0;
    padding: 0 2rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.service .row .image img {
    width: 50vw;
    height: 55vh;
}

.service .row .content {
    text-align: left;
    padding: 0 3rem;
}

.service .row .content h3 {
    font-size: 3rem;
    color: black;
}

.service .row .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
}

.service::before,
.service::after {
    content: "";
    position: absolute;
    z-index: -1;
    opacity: 0.1;
    border-radius: 50%;
}

.service::before {
    height: 50rem;
    width: 50rem;
    background: var(--second-color);
    bottom: -50rem;
    left: -10rem;
}

.service::after {
    height: 60rem;
    width: 60rem;
    background-color: var(--second-color);
    top: 100rem;
    right: -10rem;
}

/* cards */

.row .mycard {
    position: relative;
    max-width: 300px;
    height: 150px;
    /* background-color: #dce2f77a; */
    margin-top: 60px;
    margin-left: 30px;
    margin-bottom: 50px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    transition: 0.4s ease-in-out;
}

.row .mycard:hover {
    height: 315px;
    /* box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5); */
}

.row .mycard .cimg {
    position: relative;
    width: 260px;
    height: 200px;
    top: -60px;
    left: 20px;
    z-index: 1;
    box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}

.row .mycard .cimg img {
    max-width: 100%;
    height: 100%;
    box-sizing: 6px;
}

.row .mycard .cdetail {
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: black;
    visibility: hidden;
    opacity: 0;
    transition: 0.4s ease-in-out;
}
.row .mycard .cdetail h2 {
    margin-bottom: 5px;
    font-size: large;
}
.row .mycard .cdetail p {
    font-size: 15px;
}
.row .mycard:hover .cdetail {
    visibility: visible;
    opacity: 1;
    margin-top: -50px;
}
/* end cards */

/* blog */
.blog {
    margin-top: 50px;
    min-height: 90vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    padding: 0 1rem;
    position: relative;
    overflow: hidden !important;
}

.blog .banner-vid {
    position: absolute;
    height: 100vh;
    width: 100%;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.blog .banner-vid video {
    position: absolute;
    top: -2%;
    left: 0;
    width: 90%;
    height: 80%;
    object-fit: cover;
}
.blog .banner-vid h2 {
    position: absolute;
    font-family: "Graduate", "Cairo";
    top: 0;
    left: 0;
    width: 100%;
    height: 80%;
    background: var(--white);
    font-size: 30vw;
    text-align: center;
    text-transform: uppercase;
    color: var(--black);
    line-height: 100vh;
    mix-blend-mode: screen;
}
.btn-vid {
    position: absolute;
    bottom: 10%;
    right: 45%;
    border-radius: 5%;
    padding: 1rem 3rem;
    background: var(--main-color);
    color: var(--white);
    cursor: pointer;
    font-size: 1.7rem;
    text-transform: capitalize;
    -webkit-transition: 0.2s linear;
    transition: 0.2s linear;
}

.btn-vid:hover {
    background: var(--second-color);
    color: var(--white);
}

/* blog end */

.contact {
    min-height: 100vh;
    width: 100vw;
    text-align: center;
    position: relative;
    overflow: hidden;
}

.contact .row {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 0 4rem;
}

.contact .row .image img {
    width: 50vw;
}

.contact .row .content {
    text-align: left;
    padding: 0 2rem;
}
.contact .row .content h3 {
    font-size: 3rem;
    color: black;
}
.contact .row .content p {
    font-size: 1.5rem;
    color: #333;
    padding: 1rem 0;
}

/* Technologies */
.tech-card {
    transition: 0.3s;
    width: 30%;
    padding: 5px;
    margin: 5px;
}
/*end Technologies */

.footer {
    background: var(--white);
    box-shadow: var(--box-shadow);
}

.footer .box-container {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (minmax(25rem, 1fr)) [auto-fit];
    grid-template-columns: repeat(auto-fit, minmax(25rem, 1fr));
    gap: 2rem;
}

.footer .box-container .box h3 {
    font-size: 2.2rem;
    text-transform: capitalize;
    color: var(--main-color);
    padding: 1rem 0;
}

.footer .box-container .box p {
    margin-left: 1rem;
}

.footer .box-container .box .share {
    margin-top: 1rem;
    margin-left: 1rem;
}

.footer .box-container .box .share a {
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    font-size: 1.7rem;
    background-color: var(--main-color);
    color: #fff;
    margin-right: 0.3rem;
    text-align: center;
}

.footer .box-container .box .share a:hover {
    background-color: var(--second-color);
}

.footer .box-container .box .link {
    font-size: 1.7rem;
    line-height: 2;
    color: #777;
    padding: 0.5rem 0;
    display: block;
}

.footer .box-container .box .link:hover {
    color: var(--second-color);
    text-decoration: underline;
}

.footer .box-container .box p {
    font-size: 1.5rem;
    line-height: 2;
    color: #777;
    padding: 1rem 0;
}

.footer .credit {
    text-align: center;
    margin-top: 3rem;
    padding: 3rem;
    font-size: 2rem;
    text-transform: capitalize;
    color: var(--second-color);
    border-top: 0.1rem solid var(--main-color);
}

.footer .credit span {
    color: var(--main-color);
}

/* flash */
.flash {
    /* fixed bg-blue-500 text-white py-2 px-4 rounded-xl bottom-3 right-3 text-sm */
    position: fixed;
    background: var(--white);
    color: var(--main-color);
    border: 2px solid var(--main-color);
    border-radius: 2%;
    font-size: 2rem;
    padding-left: 2px;
    padding-right: 2px;
    padding-top: 4px;
    padding-bottom: 4px;
    bottom: 10px;
    right: 5px;
    font-family: "Graduate", "Cairo";
}
/* flash end */

/*error  */
.error-msg {
    text-align: right;
    color: red;
    padding-bottom: 10px;
    margin-top: -10px;
    text-transform: capitalize;
    margin-bottom: 10px;
}
/*error end  */

/* Privacy page */
.all {
    padding: 5px;
    margin: 15px;
}
.all h1 {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 30px;
    font-family: "Ubuntu", "Cairo";
}
.all h2 {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 25px;
    font-family: "Ubuntu", "Cairo";
}
.all h3 {
    margin-top: 7px;
    margin-bottom: 10px;
    font-size: 20px;
    font-family: "Ubuntu", "Cairo";
}
.all p {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
}
.all ul {
    margin-top: 7px;
    margin-bottom: 7px;
    font-size: 15px;
}
.all ul li {
    margin-top: 7px;
    margin-bottom: 15px;
    margin-left: 10px;
    font-size: 17px;
    color: rgb(83, 83, 83);
}

/* end Privacy page */

/* service page */

/*end service page*/

/* media queries */

@media (max-width: 1200px) {
    .header {
        padding: 1.5rem 2rem;
    }
    section {
        padding: 3rem 5%;
    }
    .tech.container {
        max-width: 1140px;
    }
}

@media (max-width: 991px) {
    html {
        font-size: 55%;
    }
    section {
        padding: 3rem 2rem;
    }
    .header #menu-btn {
        display: inline-block;
    }
    .header .header-navbar {
        position: absolute;
        top: 99%;
        left: 0;
        right: 0;
        background: var(--white);
        border-bottom: var(--border);
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
        -webkit-transition: 0.2s linear;
        transition: 0.2s linear;
    }
    .header .header-navbar.active {
        -webkit-clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    .header .header-navbar a {
        display: block;
        margin: 2rem;
    }
    .blog-container {
        grid-template-columns: 2fr 1fr;
    }
    .tech.container {
        max-width: 960px;
    }
    .tech.container.col {
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
}

@media (max-width: 768px) {
    .home .banner {
        font-size: 4rem;
    }

    .home .slogan {
        font-size: 1.7rem;
    }

    .service .row {
        flex-flow: column-reverse;
    }

    .service .row:nth-child(even) {
        flex-flow: column;
    }

    .service .row .image img {
        width: 100vw;
    }

    .service .row .content {
        padding: 0;
    }
    .about .row {
        flex-flow: column-reverse;
        padding: 0 2rem;
    }

    .about .row .image img {
        width: 100vw;
    }
    .btn-vid {
        position: absolute;
        bottom: 10%;
        right: 35%;
    }

    .contact .row {
        flex-flow: column;
    }

    .contact .row .image img {
        width: 100vw;
    }

    .contact .row .form-container {
        width: 100%;
        padding: 0 1.5rem;
    }
    .blog-container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .blog-container .blog-posts-container .blog-post .image {
        height: 30rem;
    }
    .tech.container {
        max-width: 720px;
    }
}

@media (max-width: 450px) {
    html {
        font-size: 50%;
    }
    .blog-banner .blog-content {
        margin: 10px;
    }
    .tech.container {
        max-width: 420;
    }
}
